{% include 'header.html' %}
<!DOCTYPE html>
<html>
  <head>
    <title>Penjualan Barang</title>
  </head>
  <body>
    <h1>Penjualan Barang</h1>

    <form>
      <h2>Data Transaksi</h2>
      <label for="nomor_penjualan">Nomor Penjualan:</label>
      <input type="text" id="nomor_penjualan" name="nomor_penjualan" /><br />

      <label for="tanggal_penjualan">Tanggal Penjualan:</label>
      <input
        type="date"
        id="tanggal_penjualan"
        name="tanggal_penjualan"
      /><br />

      <label for="supplier">Supplier:</label>
      <input type="text" id="supplier" name="supplier" /><br />

      <label for="keterangan">Keterangan:</label>
      <input type="text" id="keterangan" name="keterangan" /><br />

      <h2>Input Barang</h2>
      <label for="barcode">Barcode:</label>
      <input type="text" id="barcode" name="barcode" /><br />

      <label for="harga_jual">Harga Jual (Rp):</label>
      <input type="number" id="harga_jual" name="harga_jual" /><br />

      <label for="disc">Disc (%):</label>
      <input type="number" id="disc" name="disc" /><br />

      <label for="jumlah">Jumlah:</label>
      <input type="number" id="jumlah" name="jumlah" /><br />

      <input type="submit" value="Tambah Barang" />
    </form>

    <h2>Daftar Barang</h2>
    <table>
      <thead>
        <tr>
          <th>No</th>
          <th>Kode</th>
          <th>Nama Barang</th>
          <th>Harga (Rp)</th>
          <th>Disc (%)</th>
          <th>Jumlah</th>
          <th>Sub Total</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Nike Air Force 1 Low Triple White</td>
          <td>Barang 1</td>
          <td>1599000</td>
          <td>20</td>
          <td>2</td>
          <td>2558000</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Converse Chuck Taylor 70s High Black and White</td>
          <td>Barang 2</td>
          <td>899000</td>
          <td>30</td>
          <td>1</td>
          <td>629000</td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
{% include 'footer.html' %}
